.min-action-sheet>.min-action-sheet-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 640px;
    margin: auto;
    background: #eeeeee;
    transform: translateY(100%);
    transition: transform .3s ease;
    z-index: 301;
}


.min-action-sheet.show .min-action-sheet-wrap {
    transform: translateY(0);
}

.min-action-sheet>.min-mask {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}

.min-action-sheet.show .min-mask {
    opacity: 1;
    pointer-events: auto;
}

.min-action-sheet .min-action-sheet-wrap .min-action-sheet-header {
    display: flex;
    height: 3rem;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
}

.min-action-sheet-wrap .min-action-sheet-header .min-action-sheet-title {
    flex: 1;
    font-size: .7rem;
    line-height: 1rem;
    font-weight: normal;
    color: rgba(0, 0, 0, .3);
    overflow: hidden;
}

.min-action-sheet .min-action-sheet-wrap .min-action-sheet-body {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.min-action-sheet .min-action-sheet-wrap .min-action-sheet-footer {
    margin-top: .3rem;
    background: #ffffff;
}

.min-action-sheet .min-action-sheet-item {
    display: block;
    width: 100%;
    height: 2.8rem;
    line-height: 2.8rem;
    font-size: .8rem;
    text-align: center;
}

.min-action-sheet .min-action-sheet-item+.min-action-sheet-item {
    border-top: 1px solid rgba(0, 0, 0, .1);
}