/* 基本尺寸，屏幕宽带在340px-410px */
html {
    font-size: 20px;
}
/* 屏幕宽度小于340px */
@media all and (max-width: 340px) {
    html {
        font-size: 18px;
    }
}
/* 屏幕宽带大于410px */
@media all and (min-width: 410px) {
     html {
        font-size: 22px;
    }
}