/*
 * @Author: zhimin
 * @Date: 2020-11-25 10:26:54
 * @LastEditors: zhimin
 * @LastEditTime: 2020-11-26 09:40:29
 * @FilePath: \min-ui\src\header.css
 */
/* 头部导航条 */
.min-header {
    display: flex;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    height: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
    z-index: 200;
    border-bottom: 1px solid #dddddd;
    background: #f8f8f8;
}

/* 左侧功能区 */
.min-header>.left {
    flex-basis: 3rem;
    text-align: center;
    flex-shrink: 0;
}

/* 中间标题部分 */
.min-header>.title {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 右侧功能区 */
.min-header>.right {
    flex-basis: 3rem;
    flex-shrink: 0;
}